// Elements/base ---------------------------------------------------------------
.gray_line {height: 1px; background-color: #4e4e4e;}
.orange_line {height: 3px; background-color: @hex_orange;}
.mask_pattern {
    background: url('/themes/flatly/img/bg/mask_pattern.png') repeat center center;
}
.mask_gradient_black {
    .mx_gradient_linear(0deg, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
}
.ico_search {
    background: url('/themes/flatly/img/icons/ico_search.png') repeat center center;
    width: 22px;
    height: 22px;
    display: inline-block;
}

// Elements/frm ----------------------------------------------------------------
.btn_orange {
    display: inline-block;
    color: #fff;
    font: 20px/45px @RobotoCondensed_regular;
    background-color: @hex_orange;
    border: none;
    padding: 0 12px;
    .mx_border-radius(2px);
    .mx_transition(all 1s);
    &:hover {
        color: #fff;
        background-color: #f0a32a;
    }
}
.btn_read_more {
    display: inline-block;
    color: rgba(38, 38, 38, 0.8);
    font: 16px/45px @RobotoCondensed_light;
    border: 1px solid #bcbcbc;
    padding: 0 12px;
    i.fa {margin-left: 15px;}
    .mx_border-radius(3px);
}

label {
    color: @hex_black;
    font: 16px/33px @Roboto_regular;
    &.requiredfield:before {content: "* "; color:red;}
}
.form-control:focus {
    border-color: @hex_orange;
    border: 1px solid @hex_orange;
    box-shadow: inset 0 1px 1px #0000001a, 0 0 8px #e88e0299;
}
input.form-control, textarea.form-control {
    color: @hex_black;
    font: 18px/34px @RobotoCondensed_light;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    padding: 0 12px;
    .mx_border-radius(0);
}
input[type=file] {
    color: @hex_black;
    font: 18px/26px @Roboto_bold;
    .mx_border-radius(0);

}
textarea.form-control {padding: 6px 12px;}
.frm_newsletter {
    .input-group input.form-control {
        color: #fff;
        font: 20px/47px @RobotoCondensed_light;
        background-color: #404040;
        border: none;
        padding: 0 20px;
        height: auto;
        .mx_border-radius(3px);
    }
    button[type=submit] {
        color: #fff;
        font: 20px/47px @RobotoCondensed_regular;
        background-color: @hex_orange;
        border: none;
        padding: 0 20px;
        .mx_border-radius(3px);
    }
}
.contactform {
    .claus {margin-bottom: 35px;}
    .form-group {margin-bottom: 5px;}
    .contact_title {
        color: @hex_txt_short;
        font: 24px/33px @Roboto_bold; 
        margin-bottom: 25px;
    }
    input[type=submit] {
        display: inline-block;
        color: #fff;
        font: 16px/45px @RobotoCondensed_regular;
        background-color: @hex_orange;
        border: none;
        padding: 0 40px;
        margin-top: 5px;
        .mx_border-radius(2px);
        .mx_transition(all 1s);
        &:hover {
            color: #fff;
            background-color: #f0a32a;
        }
    }
}
// Elements/box ----------------------------------------------------------------
.box_dolacz_do_nas {
    display: block;
    color: #fff;
    font: 28px/34px @Roboto_bold;
    padding: 65px 40px;
    background: url('../img/bg/bg_dolacz_do_nas.jpg') no-repeat center center;
    min-height: 280px;
    max-width: 396px;
    p {.mx_transition(all 1s);}
    &:hover p {color: @hex_orange;}
}
.box_napisz_do_nas {
    color: #fff;
    font: 28px/34px @Roboto_bold;
    padding: 50px 40px;
    background: url('../img/bg/bg_napisz_do_nas.jpg') no-repeat center center;
    min-height: 280px;
    max-width: 400px;
    p {margin-bottom: 35px;}
}

.box_gmap {
    position: relative;
    #gmap_contact {height: 330px;}
    #gmap_home {height: 255px;}
    .gmap_buttons {
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -620px;
        z-index: 5;
        button {
            border: 1px solid #d8d7d7;
            background-color: #fff;
            font: 15px/32px @Roboto_bold;
            box-shadow: 0 5px 5px #888888;
            margin-right: 10px;
            width: 105px;
            .mx_transition(all 0.5s);
            img {
                margin-right: 5px;
                line-height: 32px;
            }
            &:hover {
                box-shadow: 0 3px 2px #888888;
            }
        }
    }
    .btn_gmap_link {
        position: absolute;
        right: 50%;
        bottom: 90px;
        z-index: 5;
        margin-right: -620px;
        color: #fff;
        font: 25px/65px @RobotoCondensed_regular;
        background-color: #323232;
        padding: 0 20px;
        .mx_transition(all 0.5s);
        i.fa {margin-left: 40px;}
        &:hover {
            background-color: #000;    
        }
    }
}
.box_gmap_recruiment {
    .gmap_recruiment {
        height: 265px;
        border: 1px solid #dadada;
    }
}
.box_home_news {
    height: 404px;
    max-width: 400px;
    position: relative;
    margin: 15px 0;
    img {height: 100%;}
    .mask_pattern {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 404px;
        z-index: 3;
    }
    .wrapper_content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        .box_content {
            padding: 17px 20px;
            margin: 10px;
            background-color: #fff;
            .mx_transition(all 0.5s);
            .date {
                color: @hex_orange;
                font: 13px/26px @RobotoCondensed_regular;
            }
            .title a {
                color: #323232;
                font: 25px/29px @RobotoCondensed_regular;
                display: inline-block;
                height: 32px;
                overflow: hidden;
            }
            .short {
                color: rgba(38, 38, 38, 0.8);
                font: 15px/22px @Roboto_regular;
                height: 44px;
                overflow: hidden;
            }
        }
    }
    &:hover {
        .wrapper_content {
            .box_content {
                background-color: @hex_orange;
                .date, .title a, .short {color: #fff;}
            }
        }
    }
}
.box_search {
    .modal-header {
        .btn_close {
            border-color: @hex_orange;
            i.fa {color: @hex_orange;}
            &:hover {
                border-color: red;
                background-color: red;
                i.fa {color: #fff;}
            }
        }
    }
    .modal-body {
        .btn_orange {
            line-height: 34px;
            width: 100%;
        }
    }
}
.box_pagination {
    margin: 50px 0;
    .pagi-custom {text-align: center;}
    .btn-success {
        background-color: @hex_orange;
        border: 1px solid @hex_orange;
        &:hover {
            background-color: #ff9b00;
            border: 1px solid #ff9b00;
        }
    }
    .btn-success.disabled {
        background-color: #e8ba02;
        border: 1px solid #e8ba02;
    }
}