// rows, blades ----------------------------------------------------------------
.row_default {
    margin: 55px 0;
    .col_ofirmie_body {padding-left: 0;}
    .col_ofirmie_short {
        .orange_line {margin: 10px 0 30px;}
        padding-right: 0;
    }
    .col_default {padding-left: 0;}
    .col_napisz_do_nas {padding-right: 0;}
    .col_r {padding-right: 0;}
    .contactdiv {padding-left: 0;}
    .col_form {padding-right: 0;}
}
.row_home_news_header {
    margin: 60px 0 40px;
    h2 {
        color: rgba(38, 38, 38, 0.8);
        font: 44px/44px @RobotoCondensed_regular;
        margin: 0;
    }
}
.row_home_news_item {margin: 40px 0 75px;}
.row_zadruki {
    margin: 65px 0;
    h2 {
        color: #000;
        font: 41px/44px @Roboto_light;
    }
    .col_text {
        border-left: 6px solid #f1f1f1;
        .img_wrapper {
            img {margin: 0 auto;}
        }
        .text_light {
            font: 16px/26px @Roboto_light;
            padding-left: 40px;
        }
    }
}
.row_acordion {
    .panel-default > .panel-heading {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border: none;
    }
    h2 {
        color: #000;
        font: 40px/44px @Roboto_light;
        margin: 0 0 30px;
    }
    .panel-group {
        .panel {
            background-color: #fafafa;
            border: 1px solid #eeeded;
            .mx_border-radius(0);
        }
        .panel-heading {
            .panel-title {
                i.fa {font-size: 20px;}
                .title_link {
                    color: #000;
                    font: 20px @Roboto_light;
                    .mx_transition(all 0.5s);
                    &:hover {
                        color: @hex_orange;
                    }
                }
            }
        }
    }
}
.row_ofirmie_top {
    .top {
        color: @hex_black;
        font: 24px/33px @Roboto_bold;
        margin: 50px 0;
        padding: 0 10%;
        text-align: center;
    }
    .top_foto {
        margin: 0 auto 80px;
    }
}
.row_header, .row_pagination {
    margin: 30px 0;
    .col_l, .col_r {padding: 0;}
}
.container_page_header {
    background-image: url('../img/bg/o_firmie.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 262px;
    position: relative;
    .col_page_header {padding-top: 170px;}
    .page_h1 {
        border-bottom: 2px solid @hex_orange;
        position: relative;
        .title {
            color: #fff;
            font: 70px/75px @RobotoCondensed_regular;
            text-transform: uppercase;
            border-bottom: 2px solid #fff;
            padding-right: 50px;
            display: inline-block;
            position: absolute;
            bottom: -2px;
            left: 0;
            z-index: 5;
            height: 100px;
            overflow: hidden;
        }
    }
    .mask_yellow_triangle {
        width: 154px;
        height: 169px;
        position: absolute;
        background: url('../img/bg/mask_yellow_triangle.png') no-repeat center center;
        left: 0;
        bottom: 0;
        z-index: 4;
    }
}
.swiper-container {
    position: relative;
    .swiper-wrapper {
        .swiper-slide {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 692px;
            position: relative;
            .mask_gradient_black {
                width: 100%;
                height: 350px;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 2;
            }
            .mask_pattern {
                width: 100%;
                height: 692px;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 3;
            }
            .slide_text {
                color: #fff;
                font: 70px/75px @RobotoCondensed_bold;
                width: 1200px;
                position: absolute;
                left: 50%;
                top: 200px;
                z-index: 5;
                margin-left: -600px;
                padding-right: 300px;
                height: 220px;
                text-overflow: ellipsis;
                overflow: hidden;
                text-transform: uppercase;
            }
        }
    }
    .swiper-pagination {
        .swiper-pagination-bullet {
            display: block;
            width: 400px;
            margin: 0 !important;
            padding: 0;
            height: 100px;
            background-color: transparent;
            border-bottom: 2px solid @hex_orange;
            float: left;
            opacity: 1;
            .mx_border-radius(0);
            .title {
                color: #fff;
                font: 15px/20px @Roboto_black; 
                height: 24px;
                overflow: hidden;
                text-align: left;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            .content {
                color: #fff;
                font: 15px/20px @Roboto_medium; 
                height: 48px;
                overflow: hidden;
                text-align: left;
                padding-right: 30px;
            }
        }
        .swiper-pagination-bullet-active {
            background-color: transparent;
            border-bottom: 2px solid #fff;
            .mx_border-radius(0);
            .title {color: #fff;}
            .content {color: #fff;}
        }
    }
    .mask_yellow_triangle_big {
        width: 546px;
        height: 598px;
        position: absolute;
        background: url('../img/bg/mask_yellow_triangle_big.png') no-repeat center center;
        left: 0;
        bottom : 0;
        z-index: 5;
    }
}
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 80px !important;
    left: 50% !important;
    width: 100% !important;
    margin-left: -600px;
}
// Header, Footer --------------------------------------------------------------
header {}
.navbar {
    margin-bottom: 0;
    .mx_border-radius(0);
}
.navbar-default {
    background-color: white;
    border-color: white;
    min-height: 108px;
    .navbar_menu {
        margin-top: 25px;
    }
    .navbar-collapse {padding-right: 0;}
    button.btn_search {
        border: none;
        background-color: transparent;
        margin-top: 15px;
        i.fa {
            color: #fff;
            font-size: 24px;
        }
        &:hover i.fa {color: @hex_orange;}
    }
    .lbl_search {
        display: none;
        color: #fff;
        font: 19px/20px @RobotoCondensed_regular;
        text-transform: uppercase;
        &:hover, &.active {color: @hex_orange;}
    }
    .nav.navbar-nav {
        li {margin-left: 30px;}
    }
    .nav.navbar-nav.nav_search {
        li {margin-left: 0;}
    }
    .nav_search {
        margin-left: 100px;
        &:hover {
            button.btn_search, .lbl_search {color: @hex_orange;}
        }
    }
}
.navbar-default .navbar-nav > li > a {
    color: rgba(38, 38, 38, 0.8); 
    font: 19px/20px @RobotoCondensed_regular;
    text-transform: uppercase;
    &:hover, &.active {
        color: @hex_orange;
        .mx_transition(color 0.5s);
    }
}
 



footer {
    color: #ffffff;
    font: 16px/25px @SourceSansPro_regular;
    background-color: @hex_black;
    padding: 65px 0 60px;
    h3 {
        font: 25px/26px @SourceSansPro_semibold;
        margin: 0 0 25px;
    }
    p {margin-bottom: 30px;}
    .row_top {
        padding-bottom: 60px;
        .col_menubottom {
            .navbar-nav {
                li {
                    display: block;
                    float: none;
                    a {
                        color: #ffffff;
                        font: 16px/25px @SourceSansPro_regular;
                        padding: 0;
                        &:hover {
                            color: @hex_orange; 
                            background-color: transparent;
                        }
                    }
                }
            }
        }
        .col_newsletter {}
        .col_socialmedia {
            a {
                margin-right: 8px;
                img {height: 47px;}
            }
        }
    }
    .row_copyright {
        padding-top: 40px;
        .col_moonbite {text-align: right;}
    }
}
// Layout ----------------------------------------------------------------------
.pg_home {}
.pg_default {}
.pg_contact {}
