// Colors:
@hex_black: #262626;
@rgb_black: rgb(38, 38, 38);
//@rgba_black: rgba(255,255,255,1);
@hex_black_light: #404040;
@rgb_black_light: rgb(64, 64, 64);

@hex_orange: #e88e02;
@rgb_orange: 232, 142, 2;

@hex_grey_light: #eeeded;
@rgb_grey_light: rgb(250, 250, 250);
@hex_grey: #e8e8e7;
@rgb_grey: rgb(232, 232, 231);
@hex_grey_dark: #d7d7d7;
@rgb_grey_dark: rgb(215, 215, 215);


@hex_txt: #6a6868;
@hex_txt_short: #262626;



// Gradients:
//@hex_grad_dark: #1e1f5f;
/*background: -webkit-linear-gradient(0deg, #fbbe04 0%, #db6f00 100%);
background: -moz-linear-gradient(0deg, #fbbe04 0%, #db6f00 100%);
background: -o-linear-gradient(0deg, #fbbe04 0%, #db6f00 100%);
background: -ms-linear-gradient(0deg, #fbbe04 0%, #db6f00 100%);
background: linear-gradient(90deg, #fbbe04 0%, #db6f00 100%);*/

// Fonts:
// MyriadPro -> RobotoCondensed
@RobotoCondensed_bold: roboto_condensedbold;
@RobotoCondensed_light: roboto_condensedlight;
@RobotoCondensed_regular: roboto_condensedregular;
@SourceSansPro_regular: source_sans_proregular;
@SourceSansPro_semibold: source_sans_prosemibold;
@Roboto_black: robotoblack;
@Roboto_bold: robotobold;
@Roboto_light: robotolight;
@Roboto_medium: robotomedium;
@Roboto_regular: robotoregular;


// Simple class
.paddingL0 {padding-left: 0px;} 
.paddingR0 {padding-right: 0px;}
.paddingT0 {padding-top: 0px;}
.paddingB {padding-bottom: 0px;}
.paddingLR0 {padding-left: 0px; padding-right: 0px;}
.marginL0 {margin-left: 0px;}
.marginR0 {margin-right: 0px;}
.marginT0 {margin-top: 0px;}
.marginB0 {margin-bottom: 0px;}
.marginLR0 {margin-left: 0px; margin-right: 0px;}
.fl {float: left;}
.fr {float: right;}
.cl {clear: both;}
.tar {text-align: right;}
.tal {text-align: left;}
.tac {text-align: center;}
.t {font-weight: 100;}
.l {font-weight: 300;}
.n {font-weight: 400;}
.b {font-weight: 700;}
.eb {font-weight: 800;}
.ub {font-weight: 900;}
