.mx_border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}
.mx_border-radius(@radiusTL, @radiusTR, @radiusBR, @radiusBL) {
    -webkit-border-radius: @radiusTL @radiusTR @radiusBR @radiusBL;
    -moz-border-radius: @radiusTL @radiusTR @radiusBR @radiusBL;
    -ms-border-radius: @radiusTL @radiusTR @radiusBR @radiusBL;
    -o-border-radius: @radiusTL @radiusTR @radiusBR @radiusBL;
    border-radius: @radiusTL @radiusTR @radiusBR @radiusBL;
}
.mx_gradient_linear(@angle, @bg, @color1, @color2) {
    background: @bg;
    background: -webkit-linear-gradient(@angle, @color1, @color2);
    background: -moz-linear-gradient(@angle, @color1, @color2);
    background: -o-linear-gradient(@angle, @color1, @color2);
    background: linear-gradient(@angle, @color1, @color2);
}
.mx_gradient_linear(@angle, @bg, @color1, @color2, @color3) {
    background: @bg;
    background: -webkit-linear-gradient(@angle, @color1, @color2, @color3);
    background: -moz-linear-gradient(@angle, @color1, @color2, @color3);
    background: -o-linear-gradient(@angle, @color1, @color2, @color3);
    background: linear-gradient(@angle, @color1, @color2, @color3);
}
.mx_transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}
.mx_transform(@transform) {
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -ms-transform: @transform;
    -o-transform: @transform;
    transform: @transform;
}
.mx_column_count(@count) {
    -webkit-column-count: @count;
    -moz-column-count: @count;
    column-count: @count;
}
.mx_column_gap(@gap) {
    -webkit-column-gap: @gap;
    -moz-column-gap: @gap;
    column-gap: @gap;
}