body {color: @hex_txt; font: 16px/28px @Roboto_regular, sans-serif;}
a {text-decoration: none; color: @hex_orange;}
a:hover {color: @hex_orange; text-decoration: none;}

.text {
    color: @hex_txt; 
    font: 16px/28px @Roboto_regular, sans-serif;
    a {text-decoration: none; color: @hex_orange;}
    a:hover {color: @hex_orange; text-decoration: none;}
    p, .p {text-align: justify;}
    b {font-family: @Roboto_bold;}
    ul {padding-left: 20px;}
    ul.clean {
        list-style-type: none;
        padding-left: 0;
    }

    .short {
        color: @hex_txt_short;
        font: 24px/33px @Roboto_bold; 
        margin-bottom: 50px;
    }
    .header {
        margin-bottom: 50px;
        .title {
            color: @hex_txt_short;
            font: 24px/33px @Roboto_bold; 
            margin-bottom: 15px;
        }
        .date {
            color: @hex_txt_short;
            font: 18px/24px @Roboto_regular;
        }
    }
}




