// Elements/frm --------------------------------------------------------------
// Elements/box ----------------------------------------------------------------
.box_gmap .gmap_buttons {
    top: 60px;
    margin-left: -570px;
}
// Blades ----------------------------------------------------------------------
.container_page_header .page_h1 {
    margin: 20px 80px 20px;
}
.swiper-container .swiper-wrapper .swiper-slide .slide_text {
    width: 999px;
    margin-left: -500px;
    padding-right: 300px;
}


.swiper-container-horizontal > .swiper-pagination-bullets {
    margin-left: -500px;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 333px;
    height: 100px;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet .content {
    height: 60px;
}
// Header, Footer --------------------------------------------------------------
header {}
footer {}
// Layout ----------------------------------------------------------------------
.pg_home {}
.pg_default {}
.pg_contact {}
