// Elements/frm --------------------------------------------------------------
// Elements/box ----------------------------------------------------------------
.box_gmap .gmap_buttons {margin-left: -475px;}
// Blades ----------------------------------------------------------------------
.swiper-container .swiper-wrapper .swiper-slide .slide_text {
    width: 800px;
    margin-left: -450px;
    padding-right: 0;
    top: 150px;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
    margin-left: -450px;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 300px;
    height: 100px;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet .content {
    height: 60px;
}
// Header, Footer --------------------------------------------------------------
header {}
.navbar-default .nav.navbar-nav li {
    margin-left: 0;
}
.navbar-default { 
    .nav_search {
        margin-left: 0px;
    }
}
footer {}
// Layout ----------------------------------------------------------------------
.pg_home {}
.pg_default {}
.pg_contact {}