// Elements/frm ----------------------------------------------------------------
// Elements/box ----------------------------------------------------------------
.box_napisz_do_nas {margin: 30px auto;}
.box_gmap .gmap_buttons {margin-left: -375px;}
.box_home_news {
    height: 350px;
    .mask_pattern {
        height: 350px;
    }
}
// rows, blades ----------------------------------------------------------------
.row_default {margin: 30px 0;}
.row_zadruki {
    margin: 30px 0;
    h2 {margin-bottom: 30px;}
    .col_text {
        border-left: none;
        .text_light {padding-left: 0;}
    }
}
.row_acordion {
    .box_gmap_recruiment {margin: 30px 0 15px;}
} 
.swiper-container .swiper-wrapper .swiper-slide .slide_text {
    width: 700px;
    margin-left: -350px;
    top: 100px;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
    margin-left: -350px;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 233px;
}
.swiper-container {
    .swiper-wrapper {
        .swiper-slide {
            height: 400px;
            .mask_gradient_black {height: 200px;}
            .mask_pattern {height: 400px;}
            .slide_text {
                top: 70px;
                font-size: 35px;
                line-height: 35px;
            }
        }
    }
    .mask_yellow_triangle_big {
        width: 200px;
        height: 224px;
    }
}
// Header, Footer --------------------------------------------------------------
header {}
.navbar-default {
    .navbar-brand {
        width: 220px;
        padding-top: 30px;
    }
    .navbar_menu {margin-top: 35px;}
    button.btn_search {
        margin-top: 10px;
    }
}
.navbar-default .navbar-nav > li > a {
    font-size: 18px;
    padding: 10px 5px;
}
footer {
    .row_top {
        .col_menubottom {

        }
        .col_newsletter {
        }
        .col_socialmedia {

        }
    }
}
footer .row_copyright .col_moonbite {
    padding-left: 0;
}
// Layout ----------------------------------------------------------------------
.pg_home {}
.pg_default {}
.pg_contact {}