.text {
    font-size: 14px;
    line-height: 21px;
    .short {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .text_light {
        font-size: 14px;
        line-height: 21px;
    }
}
// Elements/frm ----------------------------------------------------------------
// Elements/box ----------------------------------------------------------------
.box_gmap .gmap_buttons {
    margin-left: 0;
    left: 10px;
    width: 95px;
    button {
        font-size: 12px;
        line-height: 24px;
        width: 85px;
        margin: 5px 0;
    }
}
.box_home_news {margin: 15px auto;}
// rows, blades ----------------------------------------------------------------
.row_default {
    .col_default, .col_napisz_do_nas {padding: 0;}
    .contactdiv {
        padding: 0;
        margin-bottom: 30px;
    } 
    .col_form {padding: 0;}
    .col_ofirmie_body, .col_ofirmie_short {padding: 0;}
    .col_news {padding: 0;}
}
.row_zadruki {
    h2 {font-size: 30px; line-height: 35px;}
    .col_header, .col_text {padding: 0;}
}
.row_acordion {
    h2 {font-size: 25px; line-height: 30px;}
} 
.row_ofirmie_top {
    .col_l {
        padding: 0;
        .top {
            font-size: 18px;
            line-height: 24px;
            margin: 30px 0;
            padding: 0;
        }
    }
    .top_foto {margin-bottom: 0;}
}
.row_home_news_header {
    .col_title {padding: 0;}
    h2 {
        font-size: 25px;
        line-height: 35px;
    }
}
.row_home_news_item {
    margin-bottom: 30px;
    .col_news {padding: 0;}
}
.row_read_more {
    margin: 30px 0 75px;
    .col_read_more {padding: 0;}
}
.container_page_header {
    padding: 0;
    height: 162px;
    .col_page_header {
        padding-top: 70px;
    }
    .page_h1 {
        margin: 30px 0;
        .title {
            font-size: 30px;
            line-height: 35px;
            padding-right: 25px;
            height: 40px;
        }
    }
}
.container_page_header .mask_yellow_triangle {
	width: 93px;
	height: 100px;
}
.swiper-container .swiper-wrapper .swiper-slide .slide_text {
    top: 30px;
    font-size: 25px;
    line-height: 30px;
}
.swiper-container .swiper-wrapper .swiper-slide .slide_text {
    width: 100%;
    margin-left: 0;
    top: 50px;
    left: 0;
    padding: 0 15px;
    font-size: 25px;
    line-height: 30px;
    height: 120px;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 15px !important;
    left: 0 !important;
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
    .swiper-pagination-bullet {
        width: 100%;
        height: 70px;
        .content {
            height: 40px;
        }
    }
}
.swiper-container {
    position: relative;
    .swiper-wrapper {
        .swiper-slide {
            .slide_text {
                font-size: 25px;
                line-height: 30px;
                height: 90px;
            }
        }
    }
}
// Header, Footer --------------------------------------------------------------
header {}
.navbar-default {
    .navbar-toggle {
        margin-top: 30px;   
    }
    .navbar-brand {
        width: 150px;
        padding-top: 30px;
        padding-right: 0;
    }
    #navbar-menu-collapse.navbar_menu {
        width: 100%;
        margin-left: 0;
        .pull-left;
    }
    .lbl_search {display: inline-block;}
}
footer {
    font-size: 14px;
    .row_top {
        padding-bottom: 30px;
        .col_socialmedia {
            padding: 0;
            .pull-left;
        }
        .col_newsletter {padding: 0;}
    }
    .col_gray_line {padding: 0;}
    .row_copyright {
        padding-top: 30px;
        .col_tradecorp, .col_moonbite {
            padding: 0;
            text-align: left;
        }
    }
}
// Layout ----------------------------------------------------------------------
.pg_home {}
.pg_default {}
.pg_contact {}